<div class="static-content mx-auto max-w-3xl text-s px-4 py-8">
  <p><strong>BOOKSHOP</strong></p>
<p><strong>PRIVACY POLICY</strong></p>
<p><strong>Last Updated</strong>: 10/10/2021</p>
<p>
  Bookshop, including all of its features and content and related or commonly-owned or controlled websites (“
  <span class="underline">Website</span>
  ”), is a service made available by Bookshop, Inc. (“<span class="underline">Bookshop</span>”), a public benefit
  corporation that provides independently owned booksellers, industry partners, and conscious consumers with a
  direct-to-consumer e-commerce solution competitive to that of major retailers.
</p>
<p><strong>Quick Guide to Contents</strong></p>
<ol type="1">
  <li><p>How This Privacy Policy Applies</p></li>
  <li><p>What Information Bookshop Collects and Receives</p></li>
  <li><p>How Bookshop Uses the Information It Collects</p></li>
  <li><p>How Bookshop Shares the Information It Collects</p></li>
  <li><p>Tracking and Other Technologies</p></li>
  <li><p>Your Rights</p></li>
  <li><p>Links to Other Websites and Services</p></li>
  <li><p>Data Retention</p></li>
  <li><p>Cross-Border Data Transfers</p></li>
  <li><p>Children’s Privacy</p></li>
  <li><p>Security</p></li>
  <li><p>Updates to this Privacy Policy</p></li>
  <li><p>Contact Us</p></li>
</ol>
<ol type="1">
  <li>
    <p><strong>How This Privacy Policy Applies</strong></p>
  </li>
</ol>
<p>
  By using the Website, you are accepting the practices described in this Privacy Policy (including new versions of this
  Privacy Policy when and as they go into effect) and Bookshop’s
  <a href="https://bookshop/pages/terms_of_use">Terms of Use</a> (“<span class="underline">Terms of Use</span>”),
  which governs this Privacy Policy applies to those persons or entities who (i) purchase products on the Website, (ii)
  sell products on the Website through Bookshop’s
  <a href="https://bookshop/pages/terms_of_use#platform-seller-program">Platform Seller Program</a> (each, a “<span class="underline">Platform Seller</span>”), and (iii) participate in Bookshop’s
  <a href="https://bookshop/pages/terms_of_use#affiliate-program">Affiliate Program</a> (each, an “<span class="underline">Affiliate</span>”) (collectively, “<span class="underline">Users</span>,” and each, a “<span class="underline">User</span>”, “<span class="underline">you</span>” or “<span class="underline">your</span>”). Capitalized words not defined in this Privacy Policy are defined in the
  <a href="https://bookshop/pages/terms_of_use">Terms of Use</a>. In the event of a conflict between this Privacy
  Policy and the terms and conditions applicable to the
  <a href="https://bookshop/pages/terms_of_use#platform-seller-program">Platform Seller Program</a> and the
  <a href="https://bookshop/pages/terms_of_use#affiliate-program">Affiliate Program</a>, respectively, such terms
  and conditions applicable to the
  <a href="https://bookshop/pages/terms_of_use#platform-seller-program">Platform Seller Program</a> and the
  <a href="https://bookshop/pages/terms_of_use#affiliate-program">Affiliate Program</a> shall apply respectively.
</p>
<p>
  This Privacy Policy describes the information Bookshop collects from you through the Website, how Bookshop
  uses that information, and its legal basis for doing so. It also covers whether and how that information may be shared
  and your rights and choices regarding such information. For residents of the European Economic Area, Bookshop is
  the data controller responsible for your information.
</p>
<ol start="2" type="1">
  <li>
    <p><strong>What Information Bookshop Collects and Receives</strong></p>
  </li>
</ol>
<p>
  In order for you to use the Website, Bookshop needs to collect and process certain information, which depending on
  how you use the Website, may include the following.
</p>
<ol type="A">
  <li>
    <blockquote>
      <p><span class="underline">Information You Provide</span></p>
    </blockquote>
  </li>
</ol>
<p>Bookshop collects information you provide by using the Website, such as when:</p>
<ul>
  <li>
    <p>
      Platform Sellers post Content (as such terms are defined in the
      <a href="https://bookshop/pages/terms_of_use">Terms of Use</a>).
    </p>
  </li>
  <li>
    <p>
      Users complete forms on or through the Website or subscribe to our newsletters or emails. The information you
      provide may include your name, email address, mailing address, or telephone number.
    </p>
  </li>
  <li>
    <p>
      Make a request or transaction through the Website. Bookshop and Platform Sellers offer products for sale
      through the Website, and Bookshop and its payment processor will need to collect and use information such as
      your name, mailing address, billing address, email address, telephone number, and payment card information to
      process these requests and transactions.
    </p>
  </li>
  <li>
    <p>
      Communicate with Bookshop, such as when you request support, submit comments or questions, or report a problem
      to Bookshop.
    </p>
  </li>
</ul>

<blockquote>
  <p>2. <span class="underline">Information Automatically Collected</span></p>
</blockquote>
<p>
  Bookshop also automatically or passively collects information that relates to your usage of the Website or that is
  necessary for the proper functioning or improvement of the Website, including:
</p>
<ul>
  <li><p>Times and dates and the extent of your usage of the Website.</p></li>
  <li><p>Time zone, language, screen resolution, and other usage preferences you select when using the Website.</p></li>
  <li><p>Device keyboard settings.</p></li>
  <li>
    <p>
      Usage history such as areas and pages within the Website that you access or use and/or which buttons on the
      Website you click on.
    </p>
  </li>
  <li><p>The search terms you entered into a search engine that may have led you to the Website.</p></li>
  <li><p>The Internet service provider (ISP) or mobile platform you use.</p></li>
  <li>
    <p>
      Other device and Website access information such as your browser type, operating system, Internet Protocol (IP)
      address, referring/exit pages, and other unique device identifiers.
    </p>
  </li>
</ul>
<p>
  Bookshop also collects and maintain aggregated, anonymized, or pseudonymized information to protect the safety and
  security of the Website, improve the Website, or comply with its legal obligations.
</p>
<p>
  You may decline to provide Bookshop with some or all of your information. However, doing so will limit your
  ability to use the Website.
</p>
<ol start="3" type="1">
  <li>
    <p><strong>How Bookshop Uses the Information It Collects</strong></p>
  </li>
</ol>
<p>Bookshop uses the information it collects from and about you for the following purposes::</p>
<ul>
  <li>
    <p>
      To enable Bookshop to provide you and other Users with the Website, and to improve, protect, and promote the
      Website and services;
    </p>
  </li>
  <li><p>To address inquiries and respond to customer service requests, questions, and comments;</p></li>
  <li>
    <p>
      To contact you with newsletters, offers, promotions, and other product specials or to customize your experience on
      the Website;
    </p>
  </li>
  <li>
    <p>
      To track and analyze use of the Website and Bookshop’s services, such as to identify trends, conduct data
      analysis, and determine the effectiveness of marketing and promotion efforts, and other service offerings, so that
      Bookshop can improve its performance and provide Users with the best experience possible;
    </p>
  </li>
  <li>
    <p>
      To maintain security and to enforce the <a href="https://bookshop/pages/terms_of_use">Terms of Use</a> and
      comply with applicable law; and
    </p>
  </li>
  <li>
    <p>
      For other purposes that Bookshop believes are necessary to protect its rights and the rights of others, or as
      otherwise described to you at the time of collection.
    </p>
  </li>
</ul>
<ol start="4" type="1">
  <li>
    <p><strong>How Bookshop Shares the Information It Collects</strong></p>
  </li>
</ol>
<p>Bookshop may share the information it collects from and about you in the following ways:</p>
<ul>
  <li>
    <p>
      <strong>Service Providers:</strong> Bookshop may share your information with certain service providers to help
      provide, improve, promote, or protect the Website, process payments, or manage ads on other websites. Bookshop
      requires those service providers use your information only for the purposes Bookshop has authorized and
      protect your personal information at least to the same standards as Bookshop does.
    </p>
  </li>
  <li>
    <p>
      <strong>Affiliates and Platform Sellers:</strong> Bookshop may share your contact information with an
      Affiliate if you visited Bookshop’s website via that Affiliate’s referral link, or you shopped from the
      Affiliate’s book lists or a Platform Seller’s page on our Website. We will only share your information with
      Platform Seller from whom you purchase.
    </p>
  </li>
  <li>
    <p>
      <strong>Legal Matters; Safety:</strong> Bookshop reserves the right to disclose information Bookshop
      collects from or about you when doing so is reasonably necessary to comply with the law or law enforcement, to
      prevent fraud or abuse, or to protect the legal rights, property, or the safety of Bookshop, Users, or others.
    </p>
  </li>
  <li>
    <p>
      <strong>Sale or Transfer of Assets:</strong> In the event that Bookshop is acquired by or merged with a
      third-party entity, or sells all or substantially all of its assets, Bookshop reserves the right, in any of
      these circumstances, to transfer or assign the information it has collected from and about Users as part of such
      merger, acquisition, sale, or other change of control. In the unlikely event of bankruptcy, insolvency,
      reorganization, receivership, or assignment for the benefit of creditors, or the application of laws or equitable
      principles affecting creditors’ rights generally, Bookshop may not be able to control how your personal
      information is treated, transferred, or used.
    </p>
  </li>
  <li>
    <p>
      <strong>Aggregate or Anonymous Information:</strong> Bookshop may also share information that is aggregated or
      anonymized in a way that it does not directly identify you.
    </p>
  </li>
  <li>
    <p>
      <strong>Publicly Available Information:</strong> When Platform Sellers post Content, all Users will be able to
      view such Content. Platform Sellers should not post any information, including personal information, that they do
      not want to be publicly accessible.
    </p>
  </li>
</ul>
<p><strong>5. Tracking and Other Technologies</strong></p>
<p>A. <span class="underline">Types of Cookies Bookshop Utilizes</span></p>
<p>Bookshop uses the following types of cookies and other technologies:</p>
<ul>
  <li>
    <p>
      <strong>User Information:</strong> Bookshop will store a logged-in User’s information to keep track of items
      in your shopping cart and remember the customer information you gave us so that you do not have to re-enter it
      when making additional purchases.
    </p>
  </li>
  <li>
    <p>
      <strong>Security:</strong> Bookshop secures the Website with cookies that facilitate security features and
      allow Bookshop to detect activity that might violate the
      <a href="https://bookshop/pages/terms_of_use">Terms of Use</a>, such as unauthorized access or activity.
    </p>
  </li>
  <li>
    <p>
      <strong>Localization:</strong> Some cookies help Bookshop provide localized experiences, such as displaying
      the Website in the local language.
    </p>
  </li>
  <li>
    <p>
      <strong>Site Features and Services:</strong> Certain cookies provide greater functionality to the Website and help
      Bookshop deliver our products and services.
    </p>
  </li>
  <li>
    <p>
      <strong>Performance:</strong> Bookshop uses performance cookies to help route traffic between servers and
      understand how the Website is performing so Bookshop can provide Users with the best experience possible.
    </p>
  </li>
  <li>
    <p>
      <strong>Analytics and Research:</strong> Cookies and other technologies also help Bookshop to understand,
      improve, and research features and content on the Website. These types of cookies include Google Analytics, which
      you can opt out of at
      <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>.
    </p>
  </li>
</ul>
<p>B. <span class="underline">Limiting or Blocking Cookies and Our Do Not Track Policy</span></p>
<p>
  Your browser may give you the ability to control cookies, which may depend on the type of cookie, and browsers can be
  set to reject browser cookies. However, blocking or deleting cookies may prevent you from using most of the Website.
</p>
<p>
  Some browsers have “do not track” features that allow you to tell a website not to track you. These features are not
  all uniform. If you block cookies, certain features on the Website may not work. If you block or reject cookies, not
  all of the tracking described in this Privacy Policy will necessarily stop. Note that certain options you select are
  specific to certain browsers and devices. Our system may not recognize Do Not Track requests or headers from some or
  all browsers.
</p>
<p>C. <span class="underline">Web Beacons</span></p>
<p>
  The Website may contain electronic images known as web beacons (sometimes called single-pixel gifs) and are used along
  with cookies to compile aggregated statistics to analyze how the Website is used. Bookshop uses third parties to
  gather information about how you and others use the Website. For example, Bookshop will know how many Users access
  a specific page and what Website Content they clicked on. Bookshop uses this aggregated information<a href="#fn1" class="footnote-ref" id="fnref1" role="doc-noteref"><sup>1</sup></a>
  to understand and optimize how the Website is used.
</p>
<p>D. <span class="underline">Social Media Plug-Ins</span></p>
<p>
  Bookshop may use certain social media plug-ins (e.g., Facebook, Twitter, YouTube) to allow you to communicate with
  such services and interact (e.g., “like” or “comment”) with various Website content. The social media plug-in will
  enable a direct communication between your end user device and the servers of the applicable social media provider,
  allowing the applicable social media provider to communicate with you and collect information about you browsing the
  Website. If you decide to use a social media plug-in, Bookshop may transfer your information to the social media
  provider, whether or not you have a registered user account with the applicable social media provider. Bookshop is
  not responsible for the content and the data collection on respective third-party websites or apps and that
  Bookshop neither controls the extent of personally information collected by the respective plug-in provider nor
  knows the processing’s purpose or the period your personally information will be retained. For further information as
  to how and for what purpose certain social network providers process your data, please see the relevant privacy
  policies of the applicable social media provider.
</p>
<p><strong>6. Your Rights</strong></p>
<p>A. <span class="underline">Information for California Residents</span></p>
<p>
  California residents may also take advantage of the following rights under the California Consumer Privacy Act (CCPA):
</p>
<ul>
  <li>
    <p>
      <strong>Access:</strong> You may request, up to two times each year, that we disclose to you the categories and
      specific pieces of personal information that we have collected from and about you, and how we used, disclosed, and
      sold that personal information.
    </p>
  </li>
  <li>
    <p>
      <strong>Deletion:</strong> You may request that we delete any personal information that we have collected from or
      about you. Please note that we may not always be able to fully address your request, such as if we need the
      information to complete a transaction for you, to detect and protect against fraudulent and illegal activity, to
      exercise our rights, or to comply with a legal obligation.
    </p>
  </li>
</ul>
<p>
  <strong>Sale Opt-Out: Our company policy is not to sell your personal information</strong>. If we share your personal
  information to third parties, or to our affiliated companies that do not share common branding, you may opt out. To
  effect the opt out, please click on the Do Not Sell My Personal Information link
  <a href="https://mailchi.mp/bookshop/donotsell">https://mailchi.mp/bookshop/donotsell</a> or contact us as
  instructed below.
</p>
<p>
  To take advantage of these rights, please contact us at <a href="mailto:info@bookshop">info@bookshop</a> or
  (<strong>800) 484-6309</strong>
</p>
<p>We value your privacy and will not discriminate in response to your exercise of your privacy rights.</p>
<p>In addition to the information provided throughout this Privacy Policy, we make the following disclosures::</p>
<ul>
  <li>
    <p>
      We collected the following categories of personal information within the previous 12 months: identifiers/contact
      information, commercial information, internet or other electronic network activity information, geolocation, and
      inferences drawn from the above.
    </p>
  </li>
  <li>
    <p>
      We collected the following categories of personal information within the previous 12 months: identifiers/contact
      information, commercial information, internet or other electronic network activity information, geolocation, and
      inferences drawn from the above.
    </p>
  </li>
  <li>
    <p>
      We disclosed the following categories of personal information for a business purpose within the previous 12
      months: identifiers/contact information, commercial information, internet or other electronic network activity
      information, geolocation, and inferences drawn from the above. We disclosed this personal information to the
      service providers, Affiliates and Platform Sellers described in Section 4, above.
    </p>
  </li>
</ul>
<p>B. <span class="underline">Information for European Economic Area Residents</span></p>
<p>
  If you are a resident of the European Economic Area and would like to gain access to, update, erase, or restrict or
  withdraw any consent to the processing of certain information collected from and about you through the Website, please
  contact us at <a href="mailto:info@bookshop">info@bookshop</a>.
</p>
<p>
  In addition, residents of the European Economic Area also have the right to object to the processing of such
  information and, in some instances, the right to request that we export, in a structured, commonly used, machine
  readable, and interoperable format, and transmit to another controller, such information.
</p>
<p>
  The European Union’s General Data Protection Regulation (GDPR) requires a “lawful basis” for collecting and retaining
  personal information from citizens or residents of the European Economic Area. Bookshop’s lawful bases include:
</p>
<ul>
  <li>
    <p>
      <strong>Consent:</strong> In certain cases, you have affirmatively provided Bookshop with your consent to
      collect your personal information for a specific purpose, such as providing your name and email address when you
      register for an Account.
    </p>
  </li>
  <li>
    <p>
      <strong>Contract:</strong> Bookshop may need your personal information to comply with contractual obligations
      to deliver the Website, such as fulfilling transactions for Merchandise.
    </p>
  </li>
  <li>
    <p>
      <strong>Legal Obligations:</strong> Sometimes the law requires the collection and use of your information. For
      example, applicable tax laws may require Bookshop to retain records of payments made through the Website.
    </p>
  </li>
  <li>
    <p>
      <strong>Legitimate Interests:</strong> This is a technical term that means Bookshop has a good and fair reason
      to use your information and in ways that do not harm your interests and rights, such as in a way that might
      reasonably be expected as part of running our business and that does not materially impact your rights, freedom,
      or interests. For example, Bookshop uses identity, device, and location information to prevent fraud and abuse
      and to keep the Website secure. We may also send you promotional communications about the Website and services
      subject to your right to opt out, as well as analyze how Users interact with the Website so Bookshop can
      understand better what elements do or do not work well, thereby facilitating improvements and developments in the
      quality of the online experience for all Users.
    </p>
  </li>
</ul>
<blockquote>
  <p>C. <span class="underline">Email Notifications</span></p>
</blockquote>
<p>
  Bookshop wants to communicate with you only if you want to hear from us. Bookshop will send you emails
  relating to your transactions on or through the Website, as well as service-related announcements when necessary. You
  may also elect to receive marketing emails, in accordance with your preferences, and from which you may opt out at any
  time by adjusting your notification settings. Bookshop will try to keep emails to a minimum and give you the
  ability to opt in to any marketing communications.
</p>
<p><strong>7. Links to Other Websites and Services</strong></p>
<p>
  The Website may include links to other websites or services whose privacy practices may differ from the privacy
  practices as described in this Privacy Policy. When you click or otherwise use a link to an external website or
  service, the privacy policy and data processing disclosures for that website or service govern.
</p>
<p><strong>8. Data Retention</strong></p>
<p>
  Bookshop will retain the information collected from or about you as long as necessary to provide you with the
  Website or Bookshop’s services, as otherwise set forth in this Privacy Policy, and to the extent necessary to
  comply with Bookshop’s legal obligations, resolve disputes, enforce our agreements, and protect our legal rights.
  Additionally, Bookshop may retain indefinitely any aggregated or anonymized information, and may from time to time
  transfer or merge your information collected off-line to our online databases or store off-line information in an
  electronic format.
</p>
<p><strong>9. Cross-Border Data Transfers</strong></p>
<p>
  Bookshop is based in the United States so your information will be collected and processed in the United States,
  which has its own laws governing data protection and access to it, including by the government. If you reside outside
  of the United States, be advised that the rules that protect your personal information under United States federal,
  state, and local law may differ from those of your home country.
</p>
<p>
  With respect to any personal information that may be originally collected and stored in the European Economic Area, if
  and when Bookshop transfers your personal information to countries outside the European Economic Area, it will do
  so under the European Commission’s model contracts for the transfer of personal information to third countries
  (i.e<em>.</em>, standard contractual clauses) pursuant to 2004/915/EC or 2010/87/EU (as appropriate). For a copy of
  these Standard Contractual Clauses, please contact Bookshop at
  <a href="mailto:info@bookshop">info@bookshop.</a>
</p>
<p><strong>10. Children’s Privacy</strong></p>
<p>
  The privacy of children is of the utmost importance, and Bookshop is committed to complying with applicable
  privacy law, including the federal Children’s Online Privacy Protection Act (COPPA), the California Consumer Privacy
  Act (CCPA), and the European Union’s General Data Protection Regulation (GDPR). Bookshop does not knowingly
  collect or process personal information from children under the age of sixteen (16). If Bookshop ever discovers
  that it has inadvertently collected or processed personal information from a child under the age of sixteen (16) on or
  through the Website, Bookshop will take steps to delete such personal information from its records as soon as
  possible. We do not knowingly sell the personal information of minors under the age of sixteen (16) without such
  persons’ affirmative authorization as required by applicable law.
</p>
<p><strong>11. Security</strong></p>
<p>
  Bookshop takes security seriously, and the security of your personal data is important to us. Bookshop follows
  industry-standard practices to protect the data Bookshop collects and maintains, including using Transport Layer
  Security (TLS) to encrypt information as it travels over the Internet.
</p>
<p>
  However, the nature of security risks is constantly evolving, as are the technical and organizational industry
  standards relating to management of those risks, and Bookshop cannot guarantee the complete security of any
  information it collects, stores, or uses.
</p>
<p><strong>12. Updates to this Privacy Policy</strong></p>
<p>
  Bookshop may change the terms of this Privacy Policy at any time. Whenever Bookshop makes a material change,
  Bookshop will provide appropriate notice to you. The effective date of the most recent version of this Privacy
  Policy will appear at the top of this page.
</p>
<p><strong>13. Contact Us</strong></p>
<p>
  Questions or comments about this Privacy Policy should be sent by email to
  <a href="mailto:info@bookshop">info@bookshop</a> or mail to Bookshop, Inc., 463 Lincoln Place
  #200Brooklyn, NY 11238. You also have the right to submit feedback to the applicable supervisory authority in your
  jurisdiction of residence.
</p>
<section class="footnotes" role="doc-endnotes">
  <hr>
  <ol>
    <li id="fn1" role="doc-endnote"></li>
  </ol>
</section>

</div>